th, tr {
    text-align: center
}

tr {
    cursor: pointer;
}

.status-icon {
    text-align: center
}

.todo-canceled {
    background-color:lightcoral
}

.todo-not-started {
    background-color: lightblue
}

.todo-started {
    background-color: yellow
}

.todo-completed {
    background-color: mediumseagreen
}