<div>
  <table class="table table-hover">
    <thead>
      <th>#</th>
      <th>Status</th>
      <th>Todo</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos; let i = index" (mouseenter)=selectTodo(todo) (mouseleave)=selectTodo(null)
        [ngClass]="{
          'todo-not-started': (! todo.status || todo.status === 'not started'),
          'todo-canceled': todo.status === 'canceled',
          'todo-completed': todo.status === 'completed',
          'todo-started': todo.status === 'started'
        }">
        <th>{{i + 1}}</th>
        <td class="status-icon"><span class="fa" [ngClass]="{
          'fa-pause': (! todo.status || todo.status === 'not started'),
          'fa-ban': todo.status === 'canceled',
          'fa-check': todo.status === 'completed',
          'fa-repeat': todo.status === 'started'
        }"></span></td>
        <td>{{todo.title}}</td>
        <td>
          <span>
            <div class="fa fa-trash" (click)="deleteTodo(todo)"></div>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>