<div>
  <table class="table table-hover">
    <thead>
      <th>#</th>
      <th>Status</th>
      <th>Todo</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos; let i = index" (mouseenter)="selectTodo(todo.value)"
        [ngClass]="{
          'todo-not-started': (! todo.value.status || todo.value.status === 'not started'),
          'todo-canceled': todo.value.status === 'canceled',
          'todo-completed': todo.value.status === 'completed',
          'todo-started': todo.value.status === 'started'
        }">
        <th>{{i + 1}}</th>
        <td class="status-icon"><span class="fa" [ngClass]="{
          'fa-pause': (! todo.value.status || todo.value.status === 'not started'),
          'fa-ban': todo.value.status === 'canceled',
          'fa-check': todo.value.status === 'completed',
          'fa-repeat': todo.value.status === 'started'
        }"></span></td>
        <td>{{todo.value.title}}</td>
        <td>
          <span>
            <div class="fa fa-trash action-icon" (click)="deleteTodo(todo.prop)"></div>
            <div class="fa fa-pencil action-icon" (click)="editTodo(todo.prop, todo.value)"></div>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>