<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <app-todo-action-buttons></app-todo-action-buttons>
      </div>
      <div class="col-md-8"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
          <app-todos></app-todos>
      </div>
      <div class="col-md-8">
          <app-todo></app-todo>
      </div>
    </div>
  </div>
</div>
