<div *ngIf="todo" class="todo" [ngClass]="{
  'todo-not-started': (! todo.status || todo.status === 'not started'),
  'todo-canceled': todo.status === 'canceled',
  'todo-completed': todo.status === 'completed',
  'todo-started': todo.status === 'started'
}">
  <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
      </div>
      <input required [disabled]="!isInputMode()" type="text" class="form-control" [(ngModel)]="todo.title" #title="ngModel">
  </div>
  <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
      </div>
      <select class="custom-select" required [disabled]="!isInputMode()" [(ngModel)]="todo.status" #status="ngModel">
          <option *ngFor="let s of STATUSES" [ngValue]="s">{{s}}</option>
        </select>
  </div>
  <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
      </div>
      <input [disabled]="!isInputMode()" type="text" class="form-control" [(ngModel)]="todo.description">
  </div>
  <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">End date</span>
      </div>
      <input required [disabled]="!isInputMode()" type="date" class="form-control" [ngModel] ="todo.endDate | date:'yyyy-MM-dd'"
       (ngModelChange)="todo.endDate = $event" #endDate="ngModel">
  </div>
  <div *ngIf="isInputMode()">
    <button [disabled]="title.invalid || status.invalid || endDate.invalid" class="btn btn-primary todo-button" (click)="save(todo)">Save</button>
    <button class="btn btn-danger todo-button" (click)="cancel()">Cancel</button>
  </div>
</div>
