<div class="status-panel">
  <h4>Available statuses</h4>
  <div>
      <div class="input-group">
          <button class="btn btn-primary status-action-button" (click)="reloadStatuses()">
                  <span class="fa fa-refresh"></span> Reload
          </button>
  </div>
  <div>
      <table class="table table-hover">
          <thead>
            <th>#</th>
            <th>Status</th>
            <th>Color</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let status of statuses; let i = index">
              <th>{{ i + 1 }}</th>
              <td>{{ status.value.name }}</td>
              <td>
                <input type="color" class="form-control" [(ngModel)]="status.value.color" #color="ngModel">
              </td>
              <th>
                <div class="fa fa-floppy-o" [ngClass]="{
                 'action-icon': color.dirty,   
                 'action-icon-disabled': !color.dirty 
                }" (click)="saveStatus(status.prop, status.value)"></div>
              </th>
            </tr>
          </tbody>
        </table>
  </div>
</div>
